---
import Layout from "../layouts/Layout.astro";
import DashboardReact from "../components/dashboard"

---
<Layout title="Dashboard">
    <main>
        <DashboardReact client:load/>
    </main>
</Layout>