---
import Layout from '../layouts/Layout.astro';
import Categorias from '../components/Categorias.astro';
import ListProducts from '../components/ListProducts.astro';
---

<Layout title="ByteZone-Tienda online">
	<main class="bg-slate-800 text-white">
		<div class="grid grid-cols-[1fr_4fr] gap-3 p-2">
			<aside class="bg-slate-700 p-3 h-2/4 mt-7">
				<h3 class="text-center">Categorias</h3>
				<Categorias/>
			</aside>
			<div class="ml-3 text-center mt-7">
				<div>
					<ListProducts/>
				</div>
			</div>
		</div>
	</main>
</Layout>