---
import PaymentComponent from "../components/PaymentComponent.jsx";
import Layout from "../layouts/Layout.astro";
---


<Layout title="Payment">
    <h1>Procesador de pagos con Stripe</h1>
    <PaymentComponent client:load/>
</Layout>
  