---
import Subcategorias from "./Subcategorias.astro";

let categorias = [];

// Obtener las marcas desde la API
const fetchCategorias = async () => {
  const response = await fetch("http://localhost:3000/api/categorias");
  if (response.ok) {
    categorias = await response.json();
  }
};

// Llamar a la función para obtener las categorias
await fetchCategorias();
---

<!-- Listar categorias -->
<ul>
  {
    categorias.length > 0 ? (
      categorias.map((categorias) => (
        <li class="pt-1">
          <p>🔻{categorias.CategoriaName}</p>
    
            <Subcategorias id={categorias.categoria_id}/>
          
        </li>
      ))
    ) : (
      <li>No hay marcas disponibles</li>
    )
  }
</ul>
