---
let categorias = [];

// Obtener las marcas desde la API
const fetchCategorias = async () => {
  const response = await fetch("http://localhost:3000/categorias");
  if (response.ok) {
    categorias = await response.json();
  }
};

// Llamar a la función para obtener las categorias
await fetchCategorias();
---

<!-- Listar categorias -->
<ul>
  {
    categorias.length > 0 ? (
      categorias.map((categorias) => (
        <li class="pt-1">
          <p class="">{categorias.Categoria}</p>
          
        </li>
      ))
    ) : (
      <li>No hay categorias disponibles</li>
    )
  }
</ul>
