<header class="bg-slate-400 text-white bg-opacity-5 backdrop-blur-sm sticky top-0 h-20 flex justify-between items-center gap-3">
    <div class="flex items-center gap-3">
        <a class="text-2xl font-semibold px-8" href="/">ByteZone</a>
    </div>
    <ul class="flex gap-9 pr-4">
        <li>
            <a href="/login">
                Iniciar sesión
            </a>
        </li>
        <li>
            <a href="/register">
                Registrarse
            </a>
        </li>
    </ul>
</header>
