---
import Shop from "./shop.astro";

let products = [];

// Obtener las marcas desde la API
const fetchListProducts = async () => {
  const response = await fetch("http://localhost:3000/productos");
  if (response.ok) {
    products = await response.json();
  }
};

// Llamar a la función para obtener las categorias
await fetchListProducts();
---

<!-- Listar categorias -->{
  products.length > 0 ? (
    products.map((products) => (
      <div class="bg-slate-600 m-2 grid grid-cols-4 rounded-md h-60">
        <img class="h-60" src={products.Imagen} alt="imagen del producto" />

        <div class="col-span-3 p-3">
          <p>{products.Descripcion}</p>

          <div class="grid grid-cols-2 p-4">
            <p class="text-start"> </p>

            <p class="text-end">Disponibles: {products.Stock}</p>

            <p class="text-end col-span-2">Precio: ${products.Precio}</p>

            <a
              href="payment"
              class="bg-cyan-400 ml-auto col-start-2 mt-4 py-2 rounded-lg hover:bg-black w-1/2 flex items-center justify-center gap-2 active:scale-95"
            >
              <Shop class="w-5 h-5" />
              Buy
            </a> 
          </div>
        </div>
      </div>
    ))
  ) : (
    <p>No hay producto disponibles</p>
  )
}
