---

let marcas = [];

// Obtener las marcas desde la API
const fetchMarcas = async () => {
  const response = await fetch('http://localhost:3000/api/marcas');
  if (response.ok) {
    marcas = await response.json();
  }
};

// Llamar a la función para obtener las marcas
await fetchMarcas();
---

<h1>Marcas Disponibles</h1>
    
		<!-- Listar marcas -->
		<ul>
		  {marcas.length > 0 ? (
			marcas.map((marca) => (
			  <li>{marca.MarcaName}</li>
			))
		  ) : (
			<li>No hay marcas disponibles</li>
		  )}
		</ul>