---

const { marcas } = Astro.props;
---

<h1>Marcas Disponibles</h1>
    
		<!-- Listar marcas -->
		<ul>
		  {marcas.length > 0 ? (
			marcas.map((marca) => (
			  <li>{marca.MarcaName}</li>
			))
		  ) : (
			<li>No hay marcas disponibles</li>
		  )}
		</ul>