---
// src/components/ProductList.astro
import ProductCard from './ProductCard.astro';

const { products } = Astro.props;
---

<div>
  {products.length > 0 ? (
    products.map((product) => <ProductCard product={product} />)
  ) : (
    <p>No hay productos disponibles</p>
  )}
</div>
