---
const { id } = Astro.props;

// Función para obtener las subcategorías desde la API
const fetchSubcategorias = async (id) => {
  try {
    const response = await fetch(`http://localhost:3000/api/subcategorias/${id}`);
    
    if (!response.ok) {
      throw new Error('Error al obtener subcategorías');
    }
    
    const data = await response.json();
    return data;
  } catch (error) {
    console.error(error);
    return [];
  }
};

// Llamada a la función para obtener los datos
const subcategorias = await fetchSubcategorias(id);
---

<!-- Renderizado de las subcategorías -->
<section class="px-4">
  {subcategorias.length > 0 ? (
    <ul>
      {subcategorias.map(subcat => (
        <li>
            <a href={`/Productos/${subcat.subcategoria_id}`}>➖ {subcat.SubcategoriaName}</a>
        </li>
      ))}
    </ul>
  ) : (
    <p>No se encontraron subcategorías para esta categoría.</p>
  )}
</section>
